<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 会以namespace 和 id 在mapper 中查询具体的方法
         resultType 表示返回对象的数据类型
         parameterType 表示传入的数据对象
         id  唯一标识，要与命名空间（抽象方法）中定义的方法名称一致
 -->
<mapper namespace="com.leyou.item.mapper.BrandMapper">
    <resultMap id="baseMap" type="com.leyou.item.pojo.Brand">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="letter" column="letter"/>
        <result property="image" column="image"/>
    </resultMap>
    <delete id="deleteBrandAndCategory">
        delete from tb_category_brand where brand_id = #{brandId};
    </delete>

    <select id="queryByKey" resultMap="baseMap">
        select * from tb_brand
        <if test="key != null and key != ''">
            where instr(name,#{key}) > 0
            or letter = #{key}
        </if>
        <if test="sortBy != null and sortBy != ''">
            order by ${sortBy} ${descOrAsc}
        </if>
    </select>

    <update id="updateBrand">
        update tb_brand set name = #{name}, image = #{image}, letter = #{letter}
        where id = #{id}
    </update>

</mapper>
